# 📦 Visual Studio & Build 관련
.vs/
*.slo
*.lo
*.o
*.obj
*.gch
*.pch
*.so
*.dylib
*.dll
*.mod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.ipa

# 🛠️ 엔진 생성 프로젝트 파일
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb

# 🎨 소스 아트 무시
SourceArt/**/*.png
SourceArt/**/*.tga

# 🧱 바이너리와 빌드
Binaries/
Plugins/**/Binaries/
Build/
!Build/**/
!Build/*/PakBlacklist*.txt
!Build/**/*.ico

# ⚙️ 자동 생성/캐시/중간 파일
Saved/
Intermediate/
DerivedDataCache/
Plugins/**/Intermediate/

# ❌ 기타 무시
*.tmp
MyCustomFolder/

# 🌍 언리얼 자동 생성 폴더 무시
Content/_GENERATED/
Content/Maps/_GENERATED/
Content/__ExternalActors__/
Content/__ExternalObjects__/

# 🎮 외부 대용량 에셋 무시
Content/Effects/
Content/InfinityBladeAdversaries/
Content/Environments/
Content/Materials/Fog/
Content/Materials/FogCards/
Content/Maps/Topview/

# ✅ LDProps/StaticMeshes는 추적
!Content/LDProps/
!Content/LDProps/StaticMeshes/
!Content/LDProps/StaticMeshes/**/*.uasset

# ❌ 단일 메시 제외
Content/LDProps/StaticMeshes/DummyProps/SM_Dummy_Cliff_01.uasset